html {
  scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    position : relative;
    margin:0;
    padding:0;
  }
  
  header {
    background-color: gray;
    height : 100vh;
    width : 96vw;
    position:relative;
    padding: 20px;
    background-image: url("assets/images/specials-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  header h1 {
    font-size: 24px;
  }
  .navside{
    color : white;
    margin-top: rem;
  }
  nav {
    margin-top: 3rem;
    position : sticky;
    margin-top: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    top :0;
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;;
    align-items: center;
    transition : 1s;
  }

  
  nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  nav a:hover {
    transition : 1s;
    color: orange;
  }

  nav button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  main {
    width : 96%;
    margin: 0 0;
  }
  
  .hero {
     color: white;
    text-align: center;
    padding: 40px 0;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero h2 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 20px;
  }
  
  .hero button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid orange;
    cursor: pointer;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .mobile,
  .timing {
    color: white;
    font-size : 0.75rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-left : 1rem;
  }
  
  .mobile img,
  .timing img {
    width: 20px;
    height: 20px;
  }

  .right {
    font-size: 0.75rem;
  }



  /* designing the main */
  .about{
    background-color: white;
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }

  .about img{
    width : 600px;
    height : 400px;
    margin-top:40px;
    margin-right: 80px;
    margin-bottom: 40px;

  }

  .about>div{
    margin-top: 30px;
    width : 45%;
  }

  .about h2{
    font-weight: 400;
  }

  .about p{
    font-size: 0.75rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  .about>div>p {
    color : gray;
  }

  .highlight {
    font-size: 1 rem;
    margin-left : 10px;
    font-weight : 500;
    color : black;
  }

  .why{
    display : flex;
    flex-wrap: wrap;
    justify-content : center;
  }
  .why h2{
    margin-left : 150px;
  }

  .why span{
    color : orange;
  }

  .why h7{
    margin-top : 60px;
    margin-left: -350px;
  }

  .menu{
    margin-top : 100px;
  }

  .menu h2{
    margin-left : 40%;
  }

  .menu h2 span{
    color : orange;
  }

  .menu .mbtn{
    display : flex;
    justify-content: center;
    gap:10px;
  }

  .menu .mbtn button{
    background-color : white;
    color : Black;
    border : 1.5px solid orange;
    border-radius : 30px;
    padding : 10px 20px;
    cursor : pointer;
  }

  .menu .mbtn button:hover{
    background-color : orange;
    color : white;
    border : none;
    transition: 0.5s;
  }

  .mitems{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top : 50px;
  }
  .mitems li{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    width : 500px;
  }

  .mitems li>div{
    display : flex;
    align-items : center;
    align-content : center;
  }

  .mitems li>div>hr{
    flex: 1; 
  }

  .mitems li>div>h4{
    color : orange;
  }

  .mitems li>div>p{
    font-weight : 700;
  }

  .mitems li>p{
    font-size : 0.75rem;
    font-weight : 300;
    color : gray;
    margin-top: -20px;
  }

  .specials{
    text-align: center;
  }

  .specials>p{
    margin-top: -2px;;
    text-align: center;
    font-weight : 100;
  }

  .specials h2 span{
    color : orange;
  }

  .item-1{
    height : 100vh;
    width : 100vw;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top : 20px;
  }

  .specials-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  
  .specials-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    font-weight: 600;
    width: 30%;
  }
  
  .specials-right {
    display:flex;
    justify-content: space-evenly;
    width : 70%;
  }

  .specials-right img{
    width : 280px;
    height : 280px;
  }

  .item-left {
    text-align: left;
  }

  .item-left>p{
    font-size : 1rem;
    font-weight : 300;
    color : gray;
  }

  .high {
    color : orange;
  }



  .events{
    margin-top: 10px;
    position : relative;
    background-image: url("assets/images/events-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:95vw;
    height : 95vh;
    isolation: isolate;
    padding : 3%;
  }

  .events::before{
    content:"";
    position : absolute;
    z-index : -1;
    inset : 0;
    background-color: black;
    opacity : 0.6;
  }

  .events h2{
    color : white;
    text-align: center;
    margin-top : 10px;
  }

  .events h2 span{
    color : orange;
  }

  .events-items{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .events-left{
    width : 600px;
    height : 600px;
    height : 20%;
    margin-top : 20px;
  }

  .events-right{
    height : 50%;
    width : 50%;
    margin-right: 10px;
    color : white;
  }

  .events-right h3{
    color: orange;
  }

  .events-right h2{
    font-weight : 1000;
    text-align: left;
    text-decoration : underline orange;
  }

  .diff .points{
    display : flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .diff .points img{
    width : 20px;
    height : 20px;
  }

  .book-table{
    margin-left: 50px;
    margin-top : 50px;
    display : flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .book-table h2{
    margin-top : 20px;
    margin-bottom: 20px;
  }

  .book-table h2 span{
    color : orange;
  }

  .book-table p{
    text-align: center;
    margin-top: -10px;
  }

  .book-table form{
    text-align: center;
    padding: 30px;
    width : 90%;
    display: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  }

  .book-table .form-top{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width : 100%;
  }

  .book-table form input{
    padding : 5px;
    width : 30%;
    height : 30px;
    margin-top : 10px;
    border : 1px solid gray;
    border-radius : 5px;
    padding-left : 10px;
    margin-bottom: 15px;
  }

  .book-table form input::placeholder{
    color : black;
  }

  .book-table textarea{
    padding : 5px;
    margin-top: 10px;
    width : 100%;
    height : 100px;
    border-radius: 5px;
  }
  .book-table textarea::placeholder{
    font-family: sans-serif;
    color : black;
  }

  .book-table button{
    background-color : orange;
    color : white;
    border : none;
    border-radius : 30px;
    padding : 10px 20px;
    cursor : pointer;
    margin-top : 20px;
  }

  .Gallery{
    margin-left:20px;
    margin-top : 100px;
    height : 100vh;
    width : 96vw;
    text-align: center;
    padding : 10px;
  }

  .Gallery h2 span{
    color : orange;
  }

  .gallery-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
  }

  .gallery-container {
    width: 24%;
    overflow: hidden;
    position: relative;
  }

  .gallery-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease; 
  }

  .gallery-container:hover img {
    transform: scale(1.2); 
  }

  .Chefs{
    text-align: center;
    margin-top: 100px;
    position : relative;
    background-image: url("assets/images/chefs-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:95vw;
    height : 95vh;
    isolation: isolate;
    padding : 3%;
  }

  .Chefs::before{
    content:"";
    position : absolute;
    z-index : -1;
    inset : 0;
    background-color: white;
    opacity : 0.6;
  }

  .Chefs h2{
    color : black;
    text-align: center;
    margin-top : 10px;
  }

  .Chefs h2 span{
    color : orange;
  }

  .Chefs-items{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap : 10px;
  }

  .chefs-container{
    margin-top: 10px;
    width : 30%;
    height: 50%;
  }

  .chefs-container img{
    width : 100%;
    height : 60%;
  }

  

  .chefs-container .social{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 10px;
  }

  .chefs-container .social img{
    width : 20px;
    height : 20px;
  }

  .chefs-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  
  .chefs-container {
    width: 30%;
    position: relative;
    /* overflow: hidden; */
  }
  
  .chefs-info {
    padding : 5px;
    position: absolute;
    left : 3.75%;
    bottom: -7.5%;
    background-color:white;
    width: 90%;
    height : 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .chefs-info h4,
  .chefs-info hr,
  .chefs-info p {
    margin: 5px 0;
  }

  .chefs-container .chefs-info>hr {
    flex : 1;
    width: 15%;
    background-color : orange !important;
    height: 2px;
  }

  
  .chefs-info .social {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .testimonials{
    text-align: center;
    margin-top: 100px;
    position : relative;
    background-image: url("assets/images/testimonials-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:95vw;
    height : 95vh;
    isolation: isolate;
    padding : 3%;
  }

  .testimonials::before{
    content:"";
    position : absolute;
    z-index : -1;
    inset : 0;
    background-color: black;
    opacity : 0.7;
  }

  .testimonials-items{
    height : 100%;
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    
  }

  .testimonials-items>img{
    margin-top: 15px;
    width : 100px;
    height : 100px;
    border-radius : 50%;
    border : 5px solid rgba(255, 255, 255, 0.2)
  }

  .testimonials-items>h2{
    color : white;
  }

  .testimonials-items>p{
    margin-top: -15px;
    color : white;
  }

  #stars{
    margin-top: -1px;
    border : none;
    border-radius : 0;
    width : 100px;
    height : 20px;
  }

  .testimonials-text{
    color : white;
    opacity : 0.8;
  }

  .contact-us-1{
    width : 96vw;
    margin-top: 60px;
    text-align: center;
  }

  .contact-us-1 h2{
    color : black;
  }

  .contact-us-1 h2 span{
    color : orange;
  }

  .contact-us-1 iframe{
    margin-left: 2rem;
    margin-top: 20px;
    width : 100%;
    height : 400px;
  }


  .contact-us-2{
    margin-top: 60px;
    width : 96vw;
    height : 30vh;
    display : flex;
    /* justify-content: space-evenly; */
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  }

  .contact-us-2 .contact-items{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width : 100%;
  }

  .contact-items>img{
    width : 25px;
    height : 25px;
    border-radius: 50%;
    background-color: rgba(255,165,0,0.2);
  }

  .contact-us-2 .contact-items .text{
    display : flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;
  } */
}

.contact-us-3{
  margin-left: 28%;;
  margin-top: 60px;
  width : 50vw;
  height : 50vh;
  display : flex;
  /* justify-content: space-evenly; */
  align-content: center;
  justify-content: center;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.contact-us-3 form{
  
  width : 100%;
  height : 100%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-3 form input{
  padding : 5px;
  width : 30%;
  height : 30px;
  margin-top : 10px;
  border : 1px solid gray;
  border-radius : 5px;
  padding-left : 10px;
  margin-bottom: 15px;
}

.contact-us-3 form input::placeholder{
  color : black;
}

.contact-us-3 textarea{
  padding : 5px;
  margin-top: 10px;
  width : 90%;
  height : 500px;
  border-radius: 5px;
}

.contact-us-3 textarea::placeholder{
  font-family: sans-serif;
  color : black;
}

.width-full{
  padding : 5px;
  margin-top: 10px;
  width : 100%;
  height : 500px;
  border-radius: 5px;
}

.contact-us-3 button{
  background-color : orange;
  color : white;
  border : none;
  border-radius : 30px;
  padding : 10px 20px;
  cursor : pointer;
  margin-top : 20px;
}

footer{
  height : 35vh;
  width : 96vw;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

footer h1{
  padding-top: 20px;
  color : orange;
}

footer span{
  font-weight: 800;
}


footer .social{
  display : flex;
  justify-content: center;
  gap : 10px;
  margin-top: 20px;
}

footer .social img{
  width : 30px;
  height : 30px;
}

footer .social img:hover{
  cursor: pointer;
}
footer p{
  font-size: 0.75rem;
  color : white;
  margin-top: 10px;
}






  




  






  




  